html {
  font-family: "Noto Sans", sans-serif;
}

body {
  background-color: #ffffff;
  color: #000000;
}

h2 {
  border-bottom: 1px solid #acacac;
}

blockquote {
  border-radius: 6px;
  background-color: #eff0f5;
  border: 1px solid #cacaca;
  font-family: monospace;
  padding: 1em 0.75em;
}

em {
  font-style: normal;
  background-color: #eff0f5;
  font-family: monospace;
  padding: .25em;
}

p strong {
  color: #6094e0;
  border-left: 4px solid #165cdd;
  padding-left: .25em;
}

nav menu {
            margin: 0;
            padding: 0;
      }
nav menu li {
            list-style: none;
      }
nav menu li a {
            display: block;
            padding: 10px;
}
nav menu li a:hover {
            background-color: red;
}
